body {
  background-image: url("https://img.freepik.com/premium-photo/japanese-zen-meditation-room-featuring-minimalist-aesthetic-natural-textures-soothing-atmosphere-generated-by-ai_661108-4996.jpg?w=740");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #90785e66;
}

h1 {
  font-weight: 700;
  font-size: 27px;
  line-height: 2.8;
  color: black;
}

.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: rgba(172, 147, 121, 0.747);
  border-radius: 10px;
  text-align: center;
}

header {
  margin-bottom: 10px;
}

form {
  padding: 30px;
}

footer {
  font-size: 12px;
  margin-top: 30px;
}

.instructions {
  padding: 13px;
  border: 1px solid #90785eba;
  width: 32%;
  font-size: 11px;
  border-radius: 30px;
  line-height: 10px;
  color: black;
}

.submit-button {
  margin-left: 10px;
  background: #c0a589cf;
  border: none;
  width: 100px;
  border-radius: 50px;
  padding: 14px 24px;
}

.haiku {
  font-size: 18px;
  padding: 20px;
  line-height: 28px;
  border-left: 4px solid #efcea9;
  background-color: #d4bc9e85;
  border-radius: 10px;
  text-align: left;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #8c3b1a;
}
